/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: Whitney, Helvetica, Arial, sans-serif;

}

hr {
    margin: 2em 0;
    color:#eeeeee;
}
.container {
    width: 70%;
    margin: 0 auto;
}
/* UTILITY */
.bdashed {
    border: 1px dashed black;
}

.bwhite {
    border-color: #ffffff;
}

/* HEADER */
header {
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* DEBUG */
    background-color: #add8e6;
}

.header-bar {
    height: 80%;
    
    display: flex;

    /* DEBUG */
    background-color: #daa520;
    font-size: 2rem;
}

.logo {
    width: 25%;

    display: flex;
    align-items: center;
}

nav {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;

    display: flex;
    column-gap: 1em;
}

.login {
    width: 25%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;

    /* DEBUG */
    height: 400px;
    background-color:#00008b;
}

.jumbotron-content {
    height: 80%;
    width: 55%;

    /* DEBUG */
    background-color: #ee82ee;
}

/* MAIN */
.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 2em;
    /* min-height: 400px; */
}

.paragraph.white {
    background-color: #ffffff;
}

.paragraph.gray {
    background-color: #d3d3d3;
}

.p-content {
    display: flex;
    
    height: 350px;
    width: 100%;
}

.p-content .image {
    width: 60%;
    background-color: #1e90ff;
}

.p-content .text {
    width: 40%;
    background-color: #ffc0cb;
}

.p-big-content {
    display: flex;
    
    height: 550px;
    width: 100%;
}

.p-big-content .text {
    width: 100%;

    /* DEBUG */
    background-color: #228b22;
}

/* FOOTER */
footer {
    padding: 2em 0;

    /* DEBUG */
    background-color: #23272a;
}

.footer-links {
    display: flex;

    /* DEBUG */
    height: 450px;
    background-color: #20b2aa;
}

.social {
    width: 30%;
    /* DEBUG */
    background-color: #f08080;
}

.links {
    width: calc(70% / 4);
    /* DEBUG */
    background-color: #20b2aa;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 40px;    /* DEBUG */
    background-color: #7fffd4;
}

.elements-bottom {
    padding: 5px;
    background-color: #ffb6c1;
}