/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-size: 62.5%;
    font-family: 'Whitney';
}

.container {
    width: 70%;
    margin: 0 auto;
}
/* UTILITY */
.bdashed {
    border: 1px dashed black;
}

/* HEADER */
header {
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    /* DEBUG */
    background-color: #add8e6;
}

.header-bar {
    height: 80%;
    
    display: flex;

    /* DEBUG */
    background-color: #daa520;
    font-size: 2rem;
}

#logo {
    width: 25%;

    display: flex;
    align-items: center;
}

nav {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;

    display: flex;
    column-gap: 1em;
}

.login {
    width: 25%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.jumbotron {
    display: flex;
    justify-content: center;
    align-items: center;

    /* DEBUG */
    height: 400px;
    background-color:#00008b;
}

.jumbotron-content {
    height: 80%;
    width: 55%;

    /* DEBUG */
    background-color: #ee82ee;
}

/* MAIN */
.paragraph {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 2em;
    /* min-height: 400px; */
}

.paragraph.white {
    background-color: #ffffff;
}

.paragraph.gray {
    background-color: #d3d3d3;
}

.p-content {
    display: flex;
    
    height: 350px;
    width: 100%;
}

.p-content .image {
    width: 60%;
    background-color: #1e90ff;
}

.p-content .text {
    width: 40%;
    background-color: #ffc0cb;
}

.p-big-content {
    display: flex;
    
    height: 550px;
    width: 100%;
}

.p-big-content .text {
    width: 100%;
    background-color: #228b22;
}